<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [1]:

x = 40
y = x + 2

In [2]:
print (y)

42

In [4]:
x=y=10
print (x, y)

10 10

### 1.2 Shorter and cleaner

In [8]:

y = 40
y = y + 2
print(y)

42

In [7]:
y = 40
y += 2
y

42

In [10]:
y = 40
y -= 2
y

38

In [9]:
y = 40
y += -2       #just try out for curiosity
y

38

In [12]:
y = 40
y /= 2       #self-reminder: NO SPACE between /&= !!!
y

20.0

In [13]:
y = 40
y *= 2
y

80

### 1.3 Asking questions

In [19]:

fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]

In [15]:
"apple" in fruits

True

In [16]:
"peach" in fruits

False

In [17]:
"peach" not in fruits

True

In [23]:
("apple" in fruits) and ("celery" in vegetables)

True

In [24]:
("apple" in fruits) or ("celery" in vegetables)

True

In [25]:
# 记一下 
# ≠ !=
# ≤ <=
# ≥ >=

In [26]:
'apples' > 'oranges'

False

In [28]:
'apples' == 'oranges'

False

In [30]:
'apples' < 'oranges'    #may i ask why this is true?

True

In [31]:
10 > 3

True

In [33]:
3 == 3

True

In [40]:
(x>5) and (x<15)
print (x)          #may i know why x is referred as 10?

10

In [41]:
5<x<15

True

In [42]:
5<x<15
print(x)

10

### 1.4 There is more to if

In [46]:
name = 'Batman'

if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

Hello Hero | Batman!

### 1.5 Python stores information in different formats or types.

In [53]:
x = int(1.234)
print(x, type(x))

1 <class 'int'>

In [62]:
x = str(1.234)          #but i still dont understand 
                        
print(x, type(x))

1.234 <class 'str'>

In [86]:
x=str('bcdjbkn')
print(x, type(x))

bcdjbkn <class 'str'>

In [88]:
x=str(bcdjbkn)
print(x, type(x))

#if the code within the braket of str() is defined as a string
#why is bcdjbkn not understood by the system as a string?

NameError: name 'bcdjbkn' is not defined

In [63]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [64]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

### 1.6 Combining English and variables

In [65]:
name = "Batman"
print(f"Hello {name}!") 

#why do we need an f?

Hello Batman!

In [67]:
name = "Batman"
print(f"Hello {name.upper()}!")

Hello BATMAN!

In [68]:
x = 10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [73]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

Bruce Wayne is Batman.

In [74]:
print(f'{text:>30}')

        Bruce Wayne is Batman.

In [75]:
print(f'{text:^30}')

    Bruce Wayne is Batman.

In [76]:
print(f'{text:<30}')

Bruce Wayne is Batman.

In [79]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')

The cube of pi to 6 decimal places is 31.006277

In [78]:
print('The cube of pi to 6 decimal places is', f'{np.pi**3:.6f}')
#whats the difference between this one and the above

The cube of pi to 6 decimal places is 31.006277

In [80]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')

The cube of pi to 6 decimal places is 3.100628e+01

In [ ]:
# s- string 
# g - Ask python figure out
# for these 2, i still dont know what they are for

### 1.7 Python can be a prima-donna.

In [ ]:
#okk

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

#take away: get something working first,
#           before making it perfect.

### 2.2 Getting help.

In [ ]:

# okk

## Exercise 1 :  Bias for some heroes

In [119]:
def hello(name):
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"hello {name.lower()}!")
        
hello ("Batman")
hello("Black Widow")
hello("Aqua Man")

Hello BATMAN!
Hello BLACK WIDOW!
hello aqua man!

In [138]:
def hello(name):
    if name == "Batman" or name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"hello {name.lower()}!")
        
hello("Batman")
hello("Black Widow")
hello("Aqua Man")


#may i ask why when i code like
#"if name == "Batman" or "Black Widow":" 
#instead of "if name == "Batman" or name == "Black Widow":"
#the output will become uppercase for all 3 heroes?

Hello BATMAN!
Hello BLACK WIDOW!
hello aqua man!

## Exercise 2 :  Bias for some heroes, continues

In [139]:
def hello(name):
    if name == "Batman":
        print(f"Hello {name.upper()}!")
    elif name == "Black Widow":
        print(f"Hello {name.upper()}!")
    else:
        print(f"hello {name.lower()}!")
        
hello ("batman")
hello ("batMan")

#checked, same as what we expect, it does not work
#the cell below is the correct one

hello batman!
hello batman!

In [144]:
def hello(name):
    if name.upper() == "BATMAN" or name.upper() == "BLACK WIDOW":
        print(f"Hello {name.upper()}!")
    else:
        print(f"hello {name.lower()}!")
        
hello("Batman")
hello("Black Widow")
hello("Aqua Man")

Hello BATMAN!
Hello BLACK WIDOW!
hello aqua man!

## Exercise 3 :  Look for help to replace

In [3]:
string = "The Joker lives in Gotham City."
  
# replace all instances of 'Joker' (old) with 'Batman' (new)
new_string = string.replace("Joker", "Batman" )
  
print(string)
print(new_string)

The Joker lives in Gotham City.
The Batman lives in Gotham City.